:root{
    --font-size: 20px;
    --color: darkgray;

    --gutter: calc(var(--font-size) * 1.618);
}

@media (min-width: 600px) {
    :root{
        --font-size: 32px;
    }
}

body{
    background-color: black;  
    font-size: var(--font-size);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-top: calc(var(--gutter)*3);
    padding-bottom: calc(var(--gutter)*3);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

li{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h1{
    font-size: calc(var(--font-size)*2);
    color: white;
}

h2{
    font-size: calc(var(--font-size)*50);
    top: -30px;
    left: 20px;
    color: white;
    filter: blur(10px);
    position: fixed;
}